{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "globals": {
    "window": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "no-restricted-syntax": [
      "error",
      {
          "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(log|warn|error|info|trace)$/]",
          "message": "Unexpected property on console object was called"
      }
  ],
    "prettier/prettier": ["error"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}