h1.title Webpack Template v 2.0
p.subtitle Template for fast start coding. Made by WebValley Studio
a.link(href="about.html") Go to secondary page >>
img.logo(src=require("../../images/logo.svg") alt="logo")