html(lang= 'ru')
  head
    meta(charset='utf-8')
    include ../components/parts/head/head.pug
    title= 'Webpack Template'
    meta(name="description", content="Template for fast start coding. Made by WebValley Studio")
  body.body
    main.main 
      header.header
        include ../components/sections/header.pug
      .container
        img(src=require("../images/webpack_thumbnail.png") alt="thumbnail")
      .container
        video.video(src=require("../videos/video-bg.mp4") autoplay muted loop)